body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #013e83, #18aaff);
    color: #ffffff;
    text-align: center;
    margin: 0;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(122, 122, 122, 0.801);
}

.verse {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.reference {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #212121;
    color: #f5f5f5;
    width: 200px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

h1, p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
}

.church-info {
    text-align: center;
    margin-top: 1rem;
}

.church-info {
    text-align: center;
    margin-top: 1rem;
}

.church-info ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.church-info ul li {
    text-align: center;
    margin: 10px;
    flex: 1;
    text-align: center; /* Centraliza o conteúdo do item */
}

.church-info ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centraliza o texto */
}

.church-info ul li a img {
    width: 30px;
    max-width: 100%;
    height: auto;
    margin-bottom: 5px; /* Espaçamento entre a imagem e o texto */
}

/* Exemplo de media query para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Ajuste o padding conforme necessário */
    }
    .buttons {
        flex-direction: row; /* Ajuste a direção dos botões para linha */
    }
    button {
        width: 150px; /* Ajuste a largura dos botões para dispositivos móveis */
    }
    .church-info ul li {
        flex-basis: 100%; /* Garante que cada item ocupe a largura total da linha */
        text-align: center; /* Centraliza o conteúdo do item */
    }
}

