body {
 
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #013e83, #18aaff);
    color: #ffffff;
    text-align: center;
    margin: auto;
    height: auto;
}
.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 20px;
    padding-right: 2px;
    background-color: rgba(122, 122, 122, 0.801); /* Fundo translúcido */
}
.verse {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;

}
.reference {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #212121;
    color: #f5f5f5;
    width: 200px;
    transition: all 0.3s ease;
}
#copy {
    background-color: #212121;
}
#copy:hover {
    background-color: #333333;
}
#share {
    background-color: #212121;
}
#share:hover {
    background-color: #333333;
}
#reflection {
    background-color: #212121;
}
#reflection:hover {
    background-color: #333333;
}
.logo {
    width: 100%; /* Ajusta a largura para ocupar 100% do contêiner pai */
    max-width: 200px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
  }
  p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;

  }
  
  .church-info {
    text-align: center; /* Centraliza todo o conteúdo do footer */
}

.church-info ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno da lista */
    display: inline-block; /* Torna a lista um flex container */
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
}

.church-info ul li {
    text-align: center; /* Centraliza o texto dentro de cada item da lista */
    margin: 10px; /* Espaçamento entre os itens da lista */
    flex: 1; /* Para distribuir igualmente os itens ao longo do eixo principal (vertical neste caso) */
}

.church-info ul li a {
    display: inline-flex; /* Transforma o link em flex container para alinhar itens lado a lado */
    align-items: center; /* Alinha itens verticalmente ao centro */
    text-decoration: none; /* Remove sublinhado do link */
    color: #ffffff; /* Cor do texto */
    font-family: Arial, Helvetica, sans-serif;
}

.church-info ul li a img {
    width: 30px;
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 8px; /* Espaçamento entre a imagem e o texto */
}



  
