body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #013e83, #18aaff);
    color: #ffffff;
    text-align: center;
    margin: 0; /* Remove margens padrão do body */
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height para garantir que o container tenha pelo menos a altura da viewport */
    padding: 20px; /* Ajuste o padding conforme necessário */
    background-color: rgba(122, 122, 122, 0.801); /* Fundo translúcido */
}

.verse {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.reference {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #212121;
    color: #f5f5f5;
    width: 200px;
    transition: background-color 0.3s ease; /* Ajuste para especificar a propriedade a ser animada */
}

button:hover {
    background-color: #333333;
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem; /* Ajuste para manter consistência com o tamanho do h1 */
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
}

.church-info {
    text-align: center;
    margin-top: 1rem; /* Adicione um espaçamento superior para separar dos outros elementos */
}

.church-info ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.church-info ul li {
    text-align: center;
    margin: 10px;
    flex: 1;
}

.church-info ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.church-info ul li a img {
    width: 30px;
    max-width: 100%;
    height: auto;
    margin-right: 8px;
}
